@media screen and (min-width: 700px){
    header{
        width: 1200px;
    }

    main{
        display: flex;
        flex-direction: column;
        flex-basis: 200px;
    }

    .texto{
        flex-basis: 200px;
    }
}