@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Satisfy&display=swap');

*{
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
}

i#burger{
    color: #fff;
    background-color: rgb(237, 28, 36);
    display: block;

    text-align: center;

    
}

header{
    padding: 5px;
    margin-top: 10px;
    text-align: center;
    background-color: rgb(237, 28, 36);

}


menu a{
    display: block;
    text-align: center;
    border: 1px solid #fff;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

menu a:hover{
    background-color: rgb(242, 80, 86);
}

menu{
    display: none;
}


#adidas{
    width: 70px;
}

#mercadolivre{
    width: 70px;
}

#brb{
    width: 70px;

}

body{
    background-color:#fff;
    text-align: center;
    background-attachment: fixed;
    background-size: cover;
}

#escudo{
    margin: 50px;
}

.texto{
    backdrop-filter: blur(10px);
}

p{
    text-align: center;
    margin: 10px;
    padding: 20px;
}

h3{

}

#maraca{
    border-radius: 10px;
}

h2{
    background-color: rgb(237, 28, 36);
    color: #fff;
    margin-top: 50px;
}

h3{
    margin: 30px;
}

table{
    width: 350px;

    margin:auto ;
}

td{
    border: 1px solid black;
    padding: 10px;

}

th{
    border: 1px solid black;
    padding: 10px;
}

#mascote{
    width: 50px;
    border-radius: 10px;
}