@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto&family=Satisfy&display=swap');

*{
    font-family: "Poppins", serif;
}

.menu{
    
    
    
        
}

.menu a{
    text-decoration: none;
    padding: 0px 80px 0px 80px;
    color: rgb(42, 42, 42);
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    
}

.menu a:hover{
    color: #fff;
    background-color: rgb(42, 42, 42);
    transition: 1s;
}

.patrocionios{
   
    width: 200px;
    
}

#adidas{
    width: 70px;
}

#mercadolivre{
    width: 70px;
}

#brb{
    width: 70px;
}

body{
    background-color: rgb(42, 42, 42);
    text-align: center;
    color: #fff;
    background: url(./images/back7.jpg);
    background-attachment: fixed;
    background-size: cover;
}

#escudo{
    margin: 50px;
}

.texto{
    backdrop-filter: blur(10px);
}

p{
    text-align: center;
    margin: 10px;
    padding: 20px;
}

h3{

}

#maraca{
    margin-left: 350px;
}